* { 
	margin: 0px;
	padding: 0px;
}

.image{
	margin-top: 50px;
	
	background-image:url(image1.jpg);
	background-size: 	cover;
	height: 750px;
	background-repeat: no-repeat;
	padding-top: 65px;
	
}
.main-heading{
	color: white;
	text-align: center;
	font-size:50px;
	text-transform: uppercase;
	letter-spacing: 1px;

}
.sub-heading{
	text-align:center;
	color: #ffffff;
	font-size: 25px;
	margin-top: 20px;
	font-style: italic;
}
.table{
	margin: 0 auto;
	border-collapse: collapse;
	width: 90%;
    margin-top: 30px;
	border:1px solid #404040;
}
.heading1{
	padding: 20px 30px 20px 30px;
	font-size: 40px;
	background-color: #f07783;
	text-transform: capitalize;
	color: #ffffff;
	border:1px solid #f04f7d;
}
.heading2{
	padding: 20px 30px 20px 30px;
	font-size: 40px;
	background-color: #e64353;
	text-transform: capitalize;
	color: #ffffff;
	border:1px solid #f04f7d;
}
.heading3{
	padding: 20px 30px 20px 30px;
	font-size: 40px;
	background-color: #dd3c37;
	text-transform: capitalize;
	color: #ffffff;
	border:1px solid  #f04f7d;
}

.plan1{
		padding: 20px 30px 20px 30px;
		background-color: #1a1a1a;
		color: #ffffff;
		font-size: 22px;
		text-align: center; 
		border:1px solid #404040;
}
.plan2{
	padding: 20px 30px 20px 30px;
	background-color: #333333;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	border:1px solid #404040;
}
.purchase-button1{
	padding:14px 28px 14px 28px ;
	background-color: #f07783; 
	border: none;
	text-transform: uppercase; 
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: bold;
}
.purchase-button2{
	padding:14px 28px 14px 28px ;
	background-color:  #e64353; 
	border: none;
	text-transform: uppercase; 
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: bold;
}
.purchase-button3{
	padding:14px 28px 14px 28px ;
	background-color:  #dd3c37;
	border: none;
	text-transform: uppercase; 
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: bold;
}
.footer{
	background-color: #333333;
	padding-bottom: 60px;
	padding-top: 60px;
	text-align: center;
	color: #ffffff;
}
.website-link{
	color: #e5a4a8;
	
}