*{
	margin: 0px;
	padding: 0px;
}
caption{
	margin-bottom: 20px;
	margin-top: 20px;
	
}
table{
	margin: 0 auto; 	
	border-collapse: collapse;
	width: 50%;
}
table, th, td{
padding: 25px;
border: 1px solid #000000;
}
th{
	background-color:#44B525;
	color: #ffffff;
}
caption{
	font-size: 50px;
	font-weight: bold;
}
.lunch{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color:#44B525;
	color: #ffffff;

}