*{
	margin:0px;
	padding: 0px;
}
.person-image{
	float:right;
	margin-right:150px;
}
.geexu-founder-image{
	height:600px;
}
.bio-information{
	margin-left:150px;
	margin-top:70px;
}
.person-name{
	text-transform: capitalize;
	font-size: 25px;
	font-family: arial,sans-serif;
	margin-bottom: 10px;
}
.person-profile{
	font-family: arial,sans-serif;
	color: #8ECA5D;
	font-weight: weight;
}
.person-bio{
	margin-top:40px ;
	width:40%;
	font-size:18px;
	font-family:arial,sans-serif;
	line-height:1.4;
	font-weight: 500;
}
