* {
	margin: 0px;
	padding; 0px;
}
@font-face{
	src:url("assets/fonts/Sura-Bold.ttf");
	font-family: Sura, serif;
	font-weight: bold;
}

#main-wrapper{
	width:100px;
}
table{
	padding-top: 40px;
	padding-left: 40px;	
}
.header-image{
	height: 420px;
}
.header-image2{
	height: 420px;
}
.month-name{
	font-size:70px;
	background-color: #CEBE3F;
	padding:10px 0px 10px 0px;
	width:10px;
	text-align: center;
	color:#0E1D70;
	width: 50%;
	font-weight: bold;
	font-family: Sura, serif;
}
.marathi-month-name{
	font-size: 50px;
	width: 20%;
	background-color: #FBB7C1;
}