*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 1300px;
	padding: 20px 0px 0px 65px;
}
table {
	width: 100%;
}
/*thead section start here*/
.table-wrapper{
	margin-top: 10px;
}
.header-image{
	width: 99%;
	
}
.month-name{
	font-size: 67px;
    background-color: #CEBE3F;
    padding: 20px 0px 10px 0px;
    text-align: center;
    color: #0E1D70;
    font-weight: bold;
    font-family: Sura, serif;
    margin-right: 6px;
	margin-top: 4px;
	margin-bottom: 10px;
}
	
.marathi-month-name{
	font-size: 33px;
    background-color: #FBB7C1;
    text-align: center;
    color: #530101;
    font-weight: bold;
    padding: 15px;
    margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 10px;
}
.heading{
	font-size: 75px;
    text-align: center;
    background-color: #A7537B;
    color: #fff;
    padding: 10px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.aside{
	width:10%;
}
.aside-heading{
	text-align: center;
    font-size: 95px;
    font-weight: 100;
    background-color: #F6F524;
    margin-right: 9px;
    color: #3D603D;
    font-weight: bold;
    padding: -7px;
    margin: 7px;
	margin-top: 2px;
}
/*thead section end here*/

/*tbody section start here*/

.week{ 
    height: 144px;
    text-align: center;
    font-size: 87px;
    font-weight: 100;
    background-color: #1F3483;
    color: #fff;
    vertical-align: bottom;
    border-bottom: 1px solid #fff:;
    margin-right: 6px;
	padding-top: 62px;
	padding-bottom: 8px;
	margin-top: 4px;
}
.monday{
	font-size: 72px;
	padding-top: 46px;
		padding-bottom: 8px;
	height: 144px;
}
.days{
	padding: 0px; 
	border: 2px solid maroon;
	vertical-align: top;
	padding-top: 7px;
	border-spacing: 20px 20px ;
	table-layout: fixed;
    width: 18%;
}
.weekend{
    height: 160px;
    text-align: center;
    font-size: 91px;
    font-weight: 100;
    background-color: #E1403D;
    color: #fff;
    vertical-align: bottom;
    border-bottom: 1px solid #fff:;
    margin-right: 6px;
	padding-top: 36px;
	margin-top: 2px;
}	
.ganesh-img{
	height:214px;
	display: block;
	margin: 0 auto;
}

.fenolex-pipes{
	background-color: #FEF222;
	padding-top: 135px;
	padding-bottom:135px;
	margin-right: 5px;
	margin-left: 5px;
}
.fenolex-pipes-image{
	width:100%;
}
.wish-text{
	background-color: #1D6ED9;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: #fff;
	font-size: 23px; 
	font-weight: 100;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.days-heading{
	font-size:129px;
	vertical-align: bottom;
	margin-top: 5px;
	text-align: right;
	font-weight: 100;
	color:#293C8A;
	margin-right: 18px;
	font-weight: bold;
	letter-spacing: -4px;
}
.highlight{
	background-color:#FBDBF7;
}
.highlight1{
	background-color: #FFFCCB;
}
.highlight2{
	background-color: #DDFFFF;
}
.text{
	color: #4885A5;
	font-weight: bold; 
	font-size: 20px;
	margin-left: 5px;
}
.note{
	font-size: 23px;
    color: #000;
    font-weight: bold;
	background-color: #7E716C;
	padding:9px 10px;
	margin-right:6px;
	text-align: center;
	margin-bottom: 0px;
}
.marathi-month{
	font-weight: bold; 
	font-size: 15px;
	margin-left: 5px;
}
.holiday-color{
	color: red;
} 
.aside-section{
	vertical-align: baseline;
}
.aside-items{
	list-style: none;
	text-align: right;
    margin-top: 21px;
	font-size:11px;	
	height: 21px;
	color: #7B5104;
}
.aside-items-wrapper{
	margin-left: 5px;
	margin-right: 6spx;
	background-color: #FDA944;
	font-size: 11px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	border: 3px solid orange; 
	font-weight: bold;
	margin-right: 6px;
}
.inner-table-heading{
	text-align: center;
    background-color: #ED3A29;
    padding: 4px;
    font-size: 19	px;
    color: #FCA13F;
    font-weight: bolder;
	
}
.price{
	text-align: center;
    font-size: 26px;
    color: red;
    font-weight: bold;
    background-color: #FCDA1B;
    padding-top: 5px;
	margin-left: 3px;
	width: 95%;
	margin-top: 5px;
}
.inner-table{
	background-color: #F9FA9F;
	margin-top: 4px;	
	margin-left: 3px;
	width: 95%;
}
.inner-table-week-heading{
	color: #3B7B5A;
	height:26px;
	font-weight: bold;
	text-align: center;
}
.inner-table-days-heading{
	color: #3B7B5A;
	height:26px;
	font-weight: bold;
	text-align: right;
	width: 23%;
	padding-right: 3px;
}
.inner-holiday-color{
	color: red;
}

/*tbody section end here*/

/*tfoot section start here*/
.tfoot-advertisemen{
	width: 100%;
	margin-top: 10px;
}

/*tfoot section end here*